<input id="file-upload" type="file" (change)="getFile($event)" #fileInput/>
<label for="file-upload" *ngIf="file == null; else fileTitle">Open File</label>
<ng-template #fileTitle>
    <label for="file-upload">{{file.name}}</label>
</ng-template>

<input type="file" (change)="onFileChange($event)" accept=".json" />

<div #focusableElement (keyup)="onKeyUp($event)" tabindex="0">
    Press 'F' or 'f' on your keyboard
</div>

<!--
if press button(
    getFile(./assets/roundFiles/rounds_us.json)
    advance instruction step by 1.
    )
-->
