<!-- <input id="file-upload" type="file" (change)="getFile($event)" #fileInput/>
<label for="file-upload" *ngIf="file == null; else fileTitle">Open File</label>
<ng-template #fileTitle>
    <label for="file-upload">{{file.name}}</label>
</ng-template> -->
<div>
    <button (click)="getFile('./assets/roundFiles/rounds_us.json')">Get File</button>

    <p>filler text</p>
</div>

<!-- <input type="file" (change)="onFileChange($event)" accept=".json" /> -->

<!-- <input #focusableElement type="text" />
<div>
    <h1>Feud Game</h1>
    <h2>Press "f" to load file</h2>
    <pre>{{data | json}}</pre>
</div> -->

<!--
if press button(
    getFile(./assets/roundFiles/rounds_us.json)
    advance instruction step by 1.
    )
-->
